@using System.Linq.Expressions

<div class="form-control-wrapper">
    <MatDatePicker class="form-control col-12" @bind-Value="@ChosenDate" Label="@Label"  Style="margin-right: 30px" Minimum="@MinimalDate"/>
    <div class="form-control-validation">
        <ValidationMessage For="@ValidationFor"/>  
    </div>
</div>


@code {

    private DateTime _chosenDate;
    
    [Parameter]
    public string Label { get; set; }
    
    [Parameter]
    public DateTime MinimalDate { get; set; } = DateTime.Today.ToLocalTime().AddDays(-1);
    
    [Parameter]
    public DateTime ChosenDate
    {
        get => _chosenDate;
        set
        {
            if (_chosenDate == value)
                return;
            
            OnValueChanged.InvokeAsync(value);
            _chosenDate = value;
        }

    }
    
    [Parameter]
    public EventCallback<DateTime> OnValueChanged { get; set; }
    
    [Parameter]
    public Expression<Func<DateTime>> ValidationFor { get; set; }
}