@using HotelServiceSystem.Features
@using HotelServiceSystem.Entities
<h3>HSSMultiSelector</h3>
<div class="multi-select">
    <ul class="selectable-ul">
        @foreach (var item in NotSelected)
        {
            <li @onclick="@(() => Select(item))">@item.Value</li>
        }
    </ul>
    <ul class="selectable-ul">
        @foreach (var item in Selected)
        {
            <li @onclick="@(() => Deselect(item))">@item.Value</li>
        }
    </ul>
</div>



@code {
    [Parameter]
    public List<MultiSelector> NotSelected { get; set; } = new List<MultiSelector>();
    [Parameter]
    public List<MultiSelector> Selected { get; set; } = new List<MultiSelector>();

    private void Select(MultiSelector selector)
    {
        NotSelected.Remove(selector);
        Selected.Add(selector);
    }

    private void Deselect(MultiSelector selector)
    {
        Selected.Remove(selector);
        NotSelected.Add(selector);
    }
}