<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HotelServiceSystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="oi oi-key" aria-hidden="true"></span> Rooms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reservations">
                <span class="oi oi-book" aria-hidden="true"></span> Reservations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clients">
                <span class="oi oi-people" aria-hidden="true"></span> Clients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="additionalServices">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Additional Services
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}