@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities

<EditForm Model="@AdditionalServiceModel" OnValidSubmit="@Submit">
        <HssInputCustom Caption="Name" @bind-Value="AdditionalServiceModel.Name"/>
        <HssInputCustom Caption="Price" @bind-Value="AdditionalServiceModel.Price" />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-2 btn btn-primary" value="Submit"/>
        </div>
    </EditForm>

@code {
    
    [Parameter]
    public AdditionalService AdditionalServiceModel { get; set; }
    
    [Parameter]
    public EventCallback<AdditionalService> OnSubmit { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        AdditionalServiceModel = new AdditionalService();
        await base.OnInitializedAsync();
    }

    private async Task Submit()
    {
        await OnSubmit.InvokeAsync(AdditionalServiceModel);
    }
    
    
}