@page "/clients"
@using HotelServiceSystem.Logic.Interfaces.Services
@using HotelServiceSystem.Domain.Entities
@inject IClientService clientService
@inject NavigationManager navigationManager

<MudGrid>
    <MudItem xs="12">
        <MudCard Elevation="25">
            <MudExpansionPanel HideIcon="@true">
                <TitleContent>
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Rounded.Add" class="mr3"/>
                        <MudText>Dodaj klienta</MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <HssClientsInput ClientModel="@(new Client())" OnSubmit="OnClientAdd"/>
                </ChildContent>
            </MudExpansionPanel>  
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <HssClientTable ClientList="@ClientList"/>
    </MudItem>
</MudGrid>

@code {
    private List<Client> ClientList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientList = clientService.GetAllClients();
        await base.OnInitializedAsync();
    }

    private async Task OnClientAdd(Client client)
    {
        client.IsActive = true;
        await clientService.AddClientAsync(client);
        ClientList.Add(client);
    }

    private void ShowDetails(int id)
    {
       navigationManager.NavigateTo($"clientDetails/{id}"); 
    }

}